/*TOP MENU BAR*/
.topbar {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.ulTopBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
}
.liTopBar a {
  color: white;
  display: block;
  text-align: center;
  padding: 20px;
}
.liTopBar a:hover{
  background-color: #AAA;
  text-decoration: none;
  color: white;
}

/*MAIN SECTION*/
.home {
  padding-bottom: 20%;
}
.homeContent{
  padding-top: 15%;
  position: relative;
  z-index: 1;
}
.tint{
  content: "";
  position: absolute;
  background-color: #F4A261;
  opacity: .5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.picture{
  background: linear-gradient(to right, #F4A261 , transparent 10%, transparent 90%, #F4A261), url("IMG_4220.JPG") no-repeat;
  position: absolute;
  background-size: cover;
  top: -150;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -2;
}
/*HOME PAGE LINKS*/
.ulHomePageLinks {
  list-style: none;
}
.liHomePageLink {
  display: inline-block;
  margin: 1em;
}
.liHomePageLink a {
  display: inline-block;
}





/*ABOUT ME SECTION */
.aboutMe {
  position: relative;
  background-color: #17BEBB;
}
.aboutMeContents {
  padding: 40px;
  margin-left: 20%;
  margin-right: 20%;
}
/*PROJECT SECTION */
.projectLinks {
  position: relative;
  color: black;
  background-color: #FFF;

}
.ulProjectLinks {
  display: inline-block;
  list-style: none;
  text-align: center;
}
.liProject {
  display: inline-block;
  padding: 70px 0;
  margin: 20px;
}
.liProject a {
  color: white;
  padding: 70px 70px;
  border-color: #FFF;
  border-radius: 5px;
  background-color: #666;
}
.liProject a:hover {
  background-color: #AAA;
  text-decoration: none;
  color: white;
}

/*CONTACT SECTION*/
.contact {
  background-color: #F4A261;
  position: relative;
  overflow: hidden;
  padding-bottom: 1em;
}
form{
  width: 50%;
  margin: auto;
  display: block;
}
input[type=text]{
  color: black;
  width: 500px;
  height: 40px;
  margin: 18px 0;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  border-radius: 5px;
}
.message {
  color: black;
  width: 500px;
  margin: 18px 0;
  height: 100px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  resize: none;
}
.btn-submit{
  position: relative;
  background-color: #666;
  border-radius: 5px;
  float: left;
  padding: 1em;
}


/*FOOTER*/
.footer{
  background-color: #666;
}


.btnForm{
  width: 500px;
  margin: auto;
}



.faceboo{
  background-image: url(FB-f-Logo__blue_29.png);
  background-repeat: no-repeat;
}
hr{
  margin-left: 20%;
  margin-right: 20%;
}
.floatRight{
  float: right;
}
.floatLeft{
  float: left;
}

.marginLeft{
  margin-left: 15%;
}
.marginRight{
  margin-right: 15%;
}
.body{
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: white;
}

