.body{
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: white;
}

.topbar {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.ulTopBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
}
.liTopBar a {
  color: white;
  display: block;
  text-align: center;
  padding: 20px;
}
.liTopBar a:hover{
  background-color: #AAA;
  text-decoration: none;
  color: white;
}


.home {
  padding-bottom: 250px
}
.homeContent{
  padding-top: 300px;
  position: relative;
  z-index: 1;
}
.tint{
  content: "";
  position: absolute;
  background-color: #F4A261;
  opacity: .5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.picture{
  position: absolute;
  left:0;
  width: auto;
  opacity: .3;
  z-index: -1;
  box-shadow: 0 0 100px 100px #F4A261 inset;
}

.aboutMe {
  background-color: #17BEBB;
}

.aboutMeContents {
  padding: 40px;
  margin-left: 20%;
  margin-right: 20%;
}

.backgroundPicture3 {
  background-color: #FFF;
  padding: 40px;
}

.backgroundPicture4 {
  background-color: #F4A261;
  height: 550px;
}

.ulHomePageLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.liHomePageLink {
  display: inline;
}

.liHomePageLink a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  border-color: #FFF;
  border-radius: 5px;
  background-color: #666;
  margin: 20px;
}

.liHomePageLink a:hover {
  background-color: #AAA;
  text-decoration: none;
  color: white;
}

.ulContactPageLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.liContactPageLink a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  border-color: #FFF;
  border-radius: 5px;
  background-color: #666;
  margin: 20px;
}

.liContactPageLink a:hover {
  background-color: #AAA;
  text-decoration: none;
  color: white;
}

.ulProjectLinks {
  list-style: none;
  text-align: center;
}

.liProject {
  float: left;
}

.liProject a {
  display: inline-block;
  color: white;
  padding: 100px 100px;
  border-color: #FFF;
  border-radius: 5px;
  background-color: #666;
  margin: 20px;
}

.liProject a:hover {
  background-color: #AAA;
  text-decoration: none;
  color: white;
}

hr{
  margin-left: 20%;
  margin-right: 20%;
  border: none;
  height: 3px;
}

@media screen and (max-width:1034px) {
  #backgroundPicture3 {
    height: 1000px;
  }
}

@media screen and (max-width:734px) {
  #backgroundPicture3 {
    height: 1700px;
  }
}

.floatRight{
  float: right;
}
.floatLeft{
  float: left;
}