.body{
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

.topbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.ulTopBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
}
.liTopBar {
  float: left;
}
.liTopBarLeft{
    float: right;
}

.home {
  background-color: #F4A261;
  position: relative;
  padding-top: 70px;
}

.backgroundPicture2 {
  background-color: #17BEBB;
  padding: 40px;
}

.backgroundPicture3 {
  background-color: #FFFFF;
  padding: 40px;
}

.backgroundPicture4 {
  background-color: #F4A261;
  height: 550px;
}

.ulHomePageLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.liHomePageLink {
  display: inline;
}

.liHomePageLink a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  border-color: #FFF;
  border-radius: 5px;
  background-color: #666;
  margin: 20px;
}

.liHomePageLink a:hover {
  background-color: #AAA;
  text-decoration: none;
  color: white;
}

.ulContactPageLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.liContactPageLink {}

.liContactPageLink a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  border-color: #FFF;
  border-radius: 5px;
  background-color: #666;
  margin: 20px;
}

.liContactPageLink a:hover {
  background-color: #AAA;
  text-decoration: none;
  color: white;
}

.ulProjectLinks {
  list-style: none;
  text-align: center;
}

.liProject {
  float: left;
}

.liProject a {
  display: inline-block;
  color: white;
  padding: 100px 100px;
  border-color: #FFF;
  border-radius: 5px;
  background-color: #666;
  margin: 20px;
}

.liProject a:hover {
  background-color: #AAA;
  text-decoration: none;
  color: white;
}

@media screen and (max-width:1034px) {
  #backgroundPicture3 {
    height: 1000px;
  }
}

@media screen and (max-width:734px) {
  #backgroundPicture3 {
    height: 1700px;
  }
}


a {
    color: inherit;
    display: block;
    text-align: center;
    padding: 14px 16px;
    
}
a:hover{
    background-color: #AAA;
    text-decoration: none;
    color: white;
}
hr {
    border-width: 3px;
    border-color: #111;
}